/* Importing Custom Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Source+Sans+Pro:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Writing out comments to better understand dynamic Tailwind CSS */
/* To add Global styles to Tailwind, use @layer */
@layer base {
  /* Target HTML elements using @apply */
  body {
    /* You can use [] to create custom values */
    @apply bg-[#f1f3f4] text-[#343437] tracking-wide
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold font-Inter
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  p {
    @apply font-sourceSansPro
  }

  li {
    @apply cursor-pointer
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#7f96bb] to-[#567CB8] text-[#343437]
  }
}

/* CUSTOM STYLING FOR MY NAVIGATION MENU */

/* Styling the checkbox for the dropdown menu */

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 10px;
  position: relative;
  user-select: none;
  -webkit-tap-highlight-color: transparent
}

.header .menu-icon .hamburger {
  background: #343437;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 25px;
}

.header .menu-icon .hamburger:before,
.header .menu-icon .hamburger:after {
  background: #343437;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .hamburger:before {
  top: 7px;
}

.header .menu-icon .hamburger:after {
  top: -7px;
}

/* Styling the hamburger menu itself */

.header .dropdown-button {
  display: none;
}

.header .dropdown-button:checked~.menu {
  max-height: 240px;
}

.header .dropdown-button:checked~.menu-icon .hamburger {
  background: transparent;
}

.header .dropdown-button:checked~.menu-icon .hamburger:before {
  transform: rotate(-45deg);
}

.header .dropdown-button:checked~.menu-icon .hamburger:after {
  transform: rotate(45deg);
}

.header .dropdown-button:checked~.menu-icon:not(.steps) .hamburger:before,
.header .dropdown-button:checked~.menu-icon:not(.steps) .hamburger:after {
  top: 0;
}

/* HORIZONTAL LINE ANIMATION */

/* Styling for the line itself */
.horizontal-line {
  height: 0px;
  width: 1px;
  border-bottom: 2px solid #7f96bb;

  -webkit-animation: increase 3s;
  -moz-animation: increase 3s;
  -o-animation: increase 3s;
  animation: increase 2s;
  animation-fill-mode: forwards;
}

@keyframes increase {
  100% {
    width: 270px;
  }
}